<div class="field">
	CAPABILITY:<BR />
	<%= f.text_field :capability %>
	<%= f.hidden_field :_destroy %>
        <div style = "color: red; float:right;margin-right: 400px"><%= link_to_remove_fields "REMOVE", f %></div>
</div>
