/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a:link {
    text-decoration: none;
    color: inherit;
}

a:hover {   
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:active {
    text-decoration: none;
    color: inherit;
}

/*CUSTOM*/
#header {
    padding-top: 30px;
    padding-bottom: 45px;
    border-bottom: solid 1px black;
}
#loginarea {
    font-size: 16px;
    float: right;
  
}
#title {
    font-size: 60px;
    float: left;
    color: #b10000;
}

#homecontainer {
	border: solid 5px black;
        margin-bottom: 150px;
	margin-top: 100px;
	margin-left: 130px;
	margin-right: 130px;
	text-align: center;
	font-size:25px;
	line-height:2
}

#container {
	margin-top: 10px;
	margin-left: 10px;
        margin-right: 10px;
}

input[type=text] {
      font-size: 14px;
      padding: 5px 5px;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -o-border-radius: 4px;
      background-color: white;
      border: solid 1px black;
      box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 2px 2px rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 2px 2px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 2px 2px rgba(0, 0, 0, 0.4);
      -o-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 2px 2px rgba(0, 0, 0, 0.4);
      box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 2px 2px rgba(0, 0, 0, 0.4);
      color: #b10000;
      text-shadow: 0px 1px #fff;
      -webkit-transition-property: background, box-shadow;
      -webkit-transition-duration: 300ms, 300ms;
}
select {

      font-size: 14px;
      padding: 5px 5px;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -o-border-radius: 4px;
      background-color: white;
      border: solid 1px black;
      box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 2px 2px rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 2px 2px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 2px 2px rgba(0, 0, 0, 0.4);
      -o-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 2px 2px rgba(0, 0, 0, 0.4);
      box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 2px 2px rgba(0, 0, 0, 0.4);
      color: #b10000;
      text-shadow: 0px 1px #fff;
      -webkit-transition-property: background, box-shadow;
}
input[type=number] {
    font-size: 14px;
    padding: 5px 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: white;
    border: solid 1px black;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 2px 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 2px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 2px 2px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 2px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 2px 2px rgba(0, 0, 0, 0.4);
    color: #b10000;
    font-style: ;
    text-shadow: 0px 1px #fff;
    -webkit-transition-property: background, box-shadow;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(238,238,238);
    /background-image: url(/assets/square_bg.png);
	color: black;
    width: 800px;
    margin: auto;
}

table {
    font-size: 12px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

th {
    font-size: 13px;
    font-weight: bold;
    padding: 8px;
	background-color: #b10000;
    /background: #474747;
    border-bottom: 1px solid #fff;
    color: #fff;
}

td {
    padding: 8px;
    background: rgb(40,40,40);
    border-bottom: 1px solid #fff;
    color: #fff;
    border-top: 1px solid transparent;
}

h1 {
	font-weight: bold;
        font-size: 30px;
        margin-bottom: 10px;
}

tr:hover td
{
    background: rgb(200,200,200);
    color: #000;
}

#footer {
    margin-top: 100px;
    text-align: center;
    border-top: solid 5px rgb(80,80,80);
    padding-top:10px;
    font-size: 12px;
    color: #b10000;
    padding-bottom: 50px;
}
#databar {
    
    padding: 8px;
    background: #474747;
    color: #fff;
    border-bottom: 5px solid #fff;
    
    ul {
        float: right;
    }
    
    li {
        display: inline-block;
        padding-right: 10px;
    }
    
    #title {
        display: inline-block;
        font-weight: bold;
    }
}

